.squares {
  position: relative;
  top: 50vw;
}

.squares div {
  width: 2vw;
  height: 2vw;
  position: sticky;
  margin: 0
}

.left-1 {
  top:0;
  left:35vw;
  background: #000;
}

.left-2 {
  top:2vw;
  left:35vw;
  background: #00f;
}

.left-3 {
  top:2vw;
  left:33vw;
  background: #000;
}

.left-4 {
  top:2vw;
  left:37vw;
  background: #000;
}

.left-5 {
  top: 4vw;
  left:35vw;
  background: #000;
}
/*RIGHT EYE*/
.right-1 {
  top:0;
  left:65vw;
  background: #000;
}

.right-2 {
  top:2vw;
  left:65vw;
  background: #00f;
}

.right-3 {
  top:2vw;
  left:63vw;
  background: #000;
}

.right-4 {
  top:2vw;
  left:67vw;
  background: #000;
}

.right-5 {
  top: 4vw;
  left:65vw;
  background: #000;
}

/*Nose*/
.nose-1 {
  top:15vw;
  left:50vw;
  background: #000;
}

.nose-2 {
  top:17vw;
  left:50vw;
  background: #000;
}

.nose-3 {
  top:19vw;
  left:50vw;
  background: #000;
}

.nose-4 {
  top:19vw;
  left:48vw;
  background: #000;
}

.nose-5 {
  top: 19vw;
  left:52vw;
  background: #000;
}

/*mouth*/
.mouth-1 {
  top:35vw;
  left:50vw;
  background: #000;
}

.mouth-2 {
  top:34vw;
  left:53vw;
  background: #000;
}

.mouth-3 {
  top:33vw;
  left:56vw;
  background: #000;
}

.mouth-4 {
  top:32vw;
  left:59vw;
  background: #000;
}

.mouth-5 {
  top: 31vw;
  left:62vw;
  background: #000;
}

.mouth-6 {
  top:30vw;
  left:65vw;
  background: #000;
}

.mouth-7 {
  top:34vw;
  left:47vw;
  background: #000;
}

.mouth-8 {
  top:33vw;
  left:43vw;
  background: #000;
}

.mouth-9 {
  top:32vw;
  left:40vw;
  background: #000;
}

.mouth-10 {
  top: 31vw;
  left:37vw;
  background: #000;
}

.mouth-11 {
  top: 30vw;
  left:34vw;
  background: #000;
}

.line-height {line-height: 4em;
}

p, span {
  opacity: 0;
}

h1  {
  text-align: center;
  margin-top: 4em;
  color:#f00;
}

h2  {
  text-align: left;
  margin-top: 4em;
  color:#f00;
}

.scroll {
  position: fixed;
  top: 20vw;
  left: 0;
  z-index:100;
  }

.scroll .home {
  font-size: 2rem;
}

/*
.red {
  background: #f00;
  top: 0;
  left: 25vh;
}

.green {
  background: #0f0;
  top: 2vh;
  left: 25vh;
}

.blue {
  background: #00f;
}

.yellow {
  background: #ff0;
}
p, span {
  opacity: 0;
}*/
